@media screen and (max-width: 500px){
    header{
        .inicio-icon{
            flex-direction: column;       
            align-items: center;
            a{
                padding: 5px;
            }
            ul{
                width: 200px;
                padding: 5px;
                li{
                    justify-items: center;
                }
            }
        }
        .inicio_imagen{
            width: 100%;
            height: auto;
            transition: none;
            &:hover{
                width: 100%;
            }
        }
        .iniciomenu__nav{
            padding: 10px;
            a{
                font-size: 15px;
                &:hover{
                    font-size: 20px;   
                }
            }
        }
    }
    .main-index{
        background-image: url(../multimedia/fondo2.jpg);        
        width: 100%;
        height: auto;        
        grid-template-columns: 100%;
        grid-template-rows: 2fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "ind-parr1"
        "video"
        "ind-parr2"
        "buscar";  
        .main-index-p1{
            font-size: 20px;
            padding: 20px;       
            
        }
        .main-index-video{
            width: 100%;
            height: auto;
        }
        .main-index-p2{
            font-size: 20px; 
        }
        .main-index-i{
            padding: 0;       
        }
    }
    .index-section{
        background-size: cover;
        width: 100%;
        height: auto;
        flex-direction: column;
        iframe{
            height: 300px;
        }
        ul{ 
            font-size: 20px; 
            height: 300px;               
        }
    }
    footer{
        background-size:cover;   
        width: auto;
        flex-direction: column;
        
        p{
            font-size: 20px;
            padding: 20px;
            width: 100%;
            text-align: center;
        }
        ul{
            width: 100%;
            justify-content: space-evenly;
        }
        
    }
    /*--nosotros RD--*/
    .main-nosotros{
        width: 100%;
        height: auto;    
        
        p{
            font-size: 15px;
            width: 100%;
            height: auto;
            padding:10px;
        }
        .carousel{
            padding: 0;
        }
        
        
    }
    /*--galeria RD--*/
    .main-galeria{        
        .col{
            padding: 10px;
            .card{
                
                .card-img-top{
                    width: 100%;
                    height: auto;
                }
            }        
        }
    }
    
    /*--contacto RD--*/
    .main-contacto{        
        width: 100%;
        height: auto;    
        form{
            width: 100%;
            height: auto;
            padding: 40px 10px;
            label{
                display: block;
                padding: 10px 0;
            }
            input{
                width: 100%;
                height: 30px;
                margin: 10px 0;
            }
            textarea{
                width: 100%;
                height: 300px;
                margin: 10px 0;        
            }
            .input-enviar{
                width: 100px;
                height: 30px;
            }
        }
    }
}    
