*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: rgb(32, 32, 32);
    align-items: center;
    /* width: 1600px; */
    
    
    

       
}
header{
    background-image: url(../multimedia/fondo2.jpg);
    background-repeat: no-repeat;
    background-position: center;    
    background-size: 1600px 700px;
    text-align: center;
    
    width: 1600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    
    align-content: center; 
    
}
.inicio-icon{
    
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;    
    align-content: center;   
}
.inicio-icon-cont{
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
    color: rgb(241, 241, 247);
    text-decoration: none;
    /* margin: 0 150px; */
}
.inicio-icon ul{
    width: 300px;
    list-style-type: none;
    /* display: inline-block;     */
    color: aliceblue;
    font-size: 30px;   
    /* margin: 0 100px;       */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
}
.inicio-icon ul li{
    display: flex;
    flex-flow: row nowrap; 
     /* padding: 30px; */
}
.inicio_imagen img{
    margin: 0;
    width: 1600px;
    height: 400px;
    
}
.iniciomenu{
    list-style: none;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.808);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
.iniciomenu li{
    /* list-style-type: none; */
    /* display: inline-block; */
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;       
}
.iniciomenu__nav{
    color: aliceblue;
    text-decoration: none;
    /* margin: 0 60px;     */
}
.main-index{
    background-image: url(../multimedia/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px 1180px;
    width: 1600px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 3fr 3fr 1fr;
    grid-template-areas: 
    "ind-parr1  ."
    "video ."
    "ind-parr2 buscar"
    ;
    justify-items: center;
    align-items: center;
    
    
}
.main-index-p1{
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    border: groove rgba(240, 234, 234, 0.671);
    /* padding: 30px; */
    background-color: rgba(18, 18, 19, 0.466);
    width: 1000px;
    height: 500px;
    grid-area: ind-parr1;
    display: flex;
    align-items: center;
    
    
}
.main-index-video{
    width: 1000px;
    height: 500px;
    grid-area: video;
}
.main-index-p2{
font-size: 40px;
text-align: center;
color: black;

background-color: rgba(240, 248, 255, 0.521);

grid-area: ind-parr2;
}
/* .buscar{
    display: inline-block;
    padding:30px;
    grid-area: buscar;
} */
.main-index-b{
    width: 400px;
    height: 40px;
    grid-area: buscar;
}
.index-section{
    background-image: url(../multimedia/fondo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px 600px ;
    width: 1600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    
}
.index-section iframe{
    width: 500px;
    height: 500px;
    /* display: inline-block;
    position: relative; 
    padding: 30px;   */
}
.index-section ul{
    /* display: inline-block; */
    color: aliceblue;
    border: groove aliceblue;
    /* padding: 100px; */
    text-align: center;
    list-style-type: none;
    /* position: relative;
    top: -200px;
    left: 800px; */
    font-size: 40px; 
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
footer{
    background-image: url(../multimedia/fondo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px 300px;    
    text-align: center;
    width: 1600px;
}
footer p{
    font-size: 40px;
    color: rgba(240, 248, 255, 0.589);
    padding: 50px;
}

/*--nosotros--*/

.main-nosotros{
    background-image: url(../multimedia/fondo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1600px 1000px;
    /* text-align: center; */
    width: 1600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;

    
}
.main-nosotros p{
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    border: groove rgba(240, 234, 234, 0.671);
    padding: 150px;
    background-color: rgba(18, 18, 19, 0.466);   

}
.main-nosotros div img{
    width: 700px;
    height: 500px;
}
/*--galeria--*/
.main-galeria{
    background-image: url(../multimedia/fondo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1600px 2000px;
    /* text-align: center;
    display: block; */
    width: 1600px;
    display: grid;
    grid-template-columns: 800px 800px;
    grid-template-rows: repeat(3,500px);
    grid-template-areas: 
    "receta1 img1"
    "img2 receta2"
    "receta3 img3";
    justify-items: center;
    align-items: center;
    justify-content: center;
      
   
}



.main-gal-i1{
    /* display:inline-block; */
    width: 300px;
    height: 300px;
    /* position: relative;
    top: 100px;
    left: 100px; */
    grid-area: img1;
}
.main-gal-p1{
    /* display: inline-block; */
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    border: groove rgba(240, 234, 234, 0.671);
    width: 300px;
    height: 300px;
    padding: 60px;
    background-color: rgba(18, 18, 19, 0.466);
    /* position: relative;
    left: -100px; */
    grid-area: receta1;
   

}
.main-gal-i2{
    /* display:inline-block; */
    width: 300px;
    height: 300px;
    /* position: relative;
    top: 100px;
    left: -100px; */
    grid-area: img2;
}
.main-gal-p2{
    /* display: inline-block; */
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    border: groove rgba(240, 234, 234, 0.671);
    width: 300px;
    height: 300px;
    padding: 60px;
    background-color: rgba(18, 18, 19, 0.466);
    /* position: relative;
    left: 100px; */
    grid-area: receta2;
    

}
.main-gal-i3{
    /* display:inline-block; */
    width: 300px;
    height: 300px;
    /* position: relative;
    top: 100px;
    left: 100px; */
    grid-area: img3;
}
.main-gal-p3{
    /* display: inline-block; */
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    border: groove rgba(240, 234, 234, 0.671);
    width: 300px;
    height: 300px;
    padding: 60px;
    background-color: rgba(18, 18, 19, 0.466);
    /* position: relative;
    left: -100px; */
    grid-area: receta3;

}
/*--planes--*/
.main-planes{
    background-image: url(../multimedia/fondo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1600px 800px;
    width: 1600px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(3,2fr);
    grid-template-areas: 
    "plan1 precio1"
    "plan2 precio2"
    "plan3 precio3";
    justify-items: center;
    align-items: center;   
    
}
.plan1{
    grid-area: plan1;
    font-size: 40px;
    font-family: cursive;
    color: aliceblue;
    padding: 30px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.541);

}
.precio1{
    grid-area: precio1;
    font-size: 40px;
    font-family: cursive;
    color: aliceblue;
    padding: 30px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.541);
}
.plan2{
    grid-area: plan2;
    font-size: 40px;
    font-family: cursive;
    color: aliceblue;
    padding: 30px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.541);
}
.precio2{
    grid-area: precio2;
    font-size: 40px;
    font-family: cursive;
    color: aliceblue;
    padding: 30px;
    margin: 50px 0;
    background-color: rgba(0, 0, 0, 0.541);
}
.plan3{
    grid-area: plan3;
    font-size: 40px;
    font-family: cursive;
    color: aliceblue;
    padding: 30px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.541);
}
.precio3{
    grid-area: precio3;
    font-size: 40px;
    font-family: cursive;
    color: aliceblue;
    padding: 30px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.541);
}

/* table{
    width: 100%;
    text-align: left;
    font-size: 30px;
    color: aliceblue;
    border: none;
    padding: 50px;
            
}
table tr td{
    padding: 60px;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.5);

} */
/*--contacto--*/
.main-contacto{
    background-image: url(../multimedia/fondo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1600px 900px;
    width: 1600px;    

}
form{
    /* width: 1600px; */
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    /* padding: 80px; */
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    grid-template-areas: 
    "nombre ingrese-nom"
    "correo ingrese-corr"
    "mensaje ingrese-msj"
    "enviar enviar";
}
.nombre{
    grid-area: nombre;
}
.input-nomb{
    grid-area: ingrese-nom;
}
.correo{
    grid-area: correo;
}
.input-corr{
    grid-area: ingrese-corr;
}

form label{
    /* display: block; */
    /* padding: 30px 0 0 0; */
}
form input{
    width: 500px;
    height: 30px;
    margin: 20px;
}
.input-enviar{
    width: 70px;
    height: 30px;
}
form textarea{
    width: 500px;
    height: 300px;
    margin: 20px;
    
}














