*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: rgb(32, 32, 32);
    align-items: center;
    
    
    
    

       
}
header{
    background-image: url(../multimedia/fondo2.jpg);
    background-repeat: no-repeat;
    background-position: center;    
    background-size: 100%;
    /* text-align: center;     */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    
    align-content: center; 
    
}
.inicio-icon{
    
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;    
    align-content: center;   
}
.inicio-icon-cont{
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
    color: rgb(241, 241, 247);
    text-decoration: none;
    
}
.inicio-icon ul{
    width: 300px;
    list-style-type: none;
    
    color: aliceblue;
    font-size: 30px;   
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
}
.inicio-icon ul li{
    display: flex;
    flex-flow: row nowrap; 
    
}
.inicio_imagen img{
    margin: 0;
    width: 100%;
    height: auto;
    
}
.iniciomenu{
    list-style: none;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.733);    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}
.iniciomenu li{
    
    font-family: cursive;
    font-weight: bold;
    font-size: 20px;
         
}
.iniciomenu__nav{
    color: aliceblue;
    text-decoration: none;
    transition: 0.5s;
    
}
.iniciomenu__nav:hover{
    color: rgba(201, 6, 6, 0.582);
    font-size: 23px;
} 
.main-index{
    background-image: url(../multimedia/fondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    /* height: auto; */
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 3fr 3fr 1fr;
    grid-template-areas: 
    "ind-parr1  ."
    "video ."
    "ind-parr2 buscar"
    ;
    justify-items: center;
    align-items: center;
    
    
}
.main-index-p1{
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    border: groove rgba(240, 234, 234, 0.671);
    
    background-color: rgba(18, 18, 19, 0.466);
    width: 100%;
    height: 500px;
    grid-area: ind-parr1;
    display: flex;
    align-items: center;
    
    
}
.main-index-video{
    width: 100%;
    height: 500px;
    grid-area: video;
}
.main-index-p2{
font-size: 40px;
text-align: center;
color: black;

background-color: rgba(240, 248, 255, 0.521);

grid-area: ind-parr2;
}

.main-index-b{
    width: auto;
    height: 40px;
    grid-area: buscar;
}
.index-section{
    background-image: url(../multimedia/fondo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100% ;
    /* width: 1600px;
    height: 600px; */
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
    /* justify-content: space-around;
    align-items: center; */
    
}
.index-section iframe{
    /* width: 500px; */
    height: 500px;
    
}
.index-section ul{
    
    color: aliceblue;
    border: groove aliceblue;
    
    text-align: center;
    list-style-type: none;
   
    font-size: 40px; 
    /* width: 500px; */
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
footer{
    background-image: url(../multimedia/fondo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;    
    text-align: center;
    width: 100%;
    height: auto;
}
footer p{
    font-size: 40px;
    color: rgba(240, 248, 255, 0.589);
    padding: 50px;
}

/*--nosotros--*/

.main-nosotros{
    background-image: url(../multimedia/fondo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
    /* width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center; */
    text-align: center;

    
}
.main-nosotros p{
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    border: groove rgba(240, 234, 234, 0.671);
    padding: 150px;
    background-color: rgba(18, 18, 19, 0.466);   

}
.main-nosotros div img{
    /* width: 700px; */
    height: 500px;
    
}
/*--galeria--*/
.main-galeria{
    background-image: url(../multimedia/fondo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 800px 800px;
    grid-template-rows: repeat(3,500px);
    grid-template-areas: 
    "receta1 img1"
    "img2 receta2"
    "receta3 img3";
    justify-items: center;
    align-items: center;
    justify-content: center;
      
   
}



.main-gal-i1{
    
    width: 300px;
    height: 300px;
    
    grid-area: img1;
}
.main-gal-p1{
    
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    border: groove rgba(240, 234, 234, 0.671);
    width: 300px;
    height: 300px;
    padding: 60px;
    background-color: rgba(18, 18, 19, 0.466);
    
    grid-area: receta1;
   

}
.main-gal-i2{
    
    width: 300px;
    height: 300px;
    
    grid-area: img2;
}
.main-gal-p2{
    
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    border: groove rgba(240, 234, 234, 0.671);
    width: 300px;
    height: 300px;
    padding: 60px;
    background-color: rgba(18, 18, 19, 0.466);
   
    grid-area: receta2;
    

}
.main-gal-i3{
    
    width: 300px;
    height: 300px;
    
    grid-area: img3;
}
.main-gal-p3{
    
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    border: groove rgba(240, 234, 234, 0.671);
    width: 300px;
    height: 300px;
    padding: 60px;
    background-color: rgba(18, 18, 19, 0.466);
   
    grid-area: receta3;

}
/*--planes--*/
.main-planes{
    background-image: url(../multimedia/fondo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(3,2fr);
    grid-template-areas: 
    "plan1 precio1"
    "plan2 precio2"
    "plan3 precio3";
    justify-items: center;
    align-items: center;   
    
}
.plan1{
    grid-area: plan1;
    font-size: 40px;
    font-family: cursive;
    color: aliceblue;
    padding: 30px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.541);

}
.precio1{
    grid-area: precio1;
    font-size: 40px;
    font-family: cursive;
    color: aliceblue;
    padding: 30px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.541);
}
.plan2{
    grid-area: plan2;
    font-size: 40px;
    font-family: cursive;
    color: aliceblue;
    padding: 30px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.541);
}
.precio2{
    grid-area: precio2;
    font-size: 40px;
    font-family: cursive;
    color: aliceblue;
    padding: 30px;
    margin: 50px 0;
    background-color: rgba(0, 0, 0, 0.541);
}
.plan3{
    grid-area: plan3;
    font-size: 40px;
    font-family: cursive;
    color: aliceblue;
    padding: 30px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.541);
}
.precio3{
    grid-area: precio3;
    font-size: 40px;
    font-family: cursive;
    color: aliceblue;
    padding: 30px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.541);
}


/*--contacto--*/
.main-contacto{
    background-image: url(../multimedia/fondo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: auto;    

}
form{
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    padding: 80px;
   
}

form label{
    display: block;
    padding: 30px 0 0 0;
}
form input{
    width: 500px;
    height: 30px;
    margin: 20px;
}
.input-enviar{
    width: 70px;
    height: 30px;
}
form textarea{
    width: 500px;
    height: 300px;
    margin: 20px;
}

/* --CELULAR RD-- */
@media screen and (max-width: 500px){
    header{       
         
        width: 100%;
        height: auto;     
        
    }
    .inicio-icon{        
           
        flex-direction: column;       
        align-items: center;
          
        
    }
    .inicio-icon-cont{        
        
         padding: 5px;       
        
        
    }
    .inicio-icon ul{
        width: 200px;
        padding: 5px;     
        
    }
    .inicio-icon ul li{
        justify-items: center;
        
    }
    .inicio_imagen img{
        width: 100%;
        height: auto;
        
    }
    .iniciomenu{
        
        flex-direction: column;
        justify-content: center;
        
    }
    .iniciomenu li{       
        
        padding: 10px;      
    }
   
    .main-index{
        background-image: url(../multimedia/fondo2.jpg);
        
        width: auto;
        height: auto;
        
        grid-template-columns: 100%;
        grid-template-rows: 2fr 2fr 1fr 0.5fr;
        
        grid-template-areas: 
        "ind-parr1"
        "video"
        "ind-parr2"
        "buscar"
        ;   
        
        
    }
    .main-index-p1{
        font-size: 20px;       
        width: auto;
        height: 300px;       
    }
    .main-index-video{
        width: 100%;
        height: auto;
        
    }
    .main-index-p2{
    font-size: 20px;   
    
    }
   
    .main-index-b{
        width: 200px;
        height: 30px;
       
    }
    .index-section{
        background-size: cover;
        width: 100%;
        height: auto;
        /* flex-direction: column;      */
               
    }
    .index-section iframe{
        /* width: 300px; */
        height: 300px;
       
    }
    .index-section ul{   
        
        font-size: 20px; 
        /* width: 300px; */
        height: 300px;               
    }
    footer{
        
        background-size:cover;   
        
        width: auto;
    }
    footer p{
        font-size: 20px;
        
        padding: 20px;
    }
    
    /*--nosotros RD--*/
    
    .main-nosotros{
        width: 100%;
        height: auto;
    
        
    }
    .main-nosotros p{
        font-size: 20px;
        width: 100%;
        height: auto;
        padding: 100px 0;
           
    
    }
    .main-nosotros div img{
        width: 100%;
        height: auto;
    }
    /*--galeria RD--*/
    .main-galeria{
        
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6,300px);
        grid-template-areas: 
        "receta1"
        "img1"
        "receta2"
        "img2"
        "receta3"
        "img3";       
          
       
    }  
    

    .main-gal-i1{
        width: 100%;
        height: auto;
    }
    .main-gal-p1{
        width: 100%;
        height: auto;       
    
    }
    .main-gal-i2{
        width: 100%;
        height: auto;
    }
    .main-gal-p2{
        width: 100%;
        height: auto;        
    
    }
    .main-gal-i3{
        width: 100%;
        height: auto;
    }
    .main-gal-p3{
        width: 100%;
        height: auto;
    
    }
    /*--planes RD--*/
    .main-planes{
       
        width: 100%;
        height: auto;
       
    
         
        
    }
    .plan1{
        background: none;        
        font-size: 15px;      
        
        
        
    
    }
    .precio1{
        
        background: none;        
        font-size: 15px;  
    }
    .plan2{
        
        background: none;        
        font-size: 15px;  
        
    }
    .precio2{
        
        background: none;        
        font-size: 15px;  
    }
    .plan3{
        
        background: none;        
        font-size: 15px;  
        
    }
    .precio3{
        
        background: none;        
        font-size: 15px;  
        
    }
    
    /*--contacto RD--*/
    .main-contacto{
        
        width: 100%;
        height: auto;    
    
    }
    form{
        width: 100%;
        height: auto;
        
        padding: 40px 10px;
       
    }
    
    form label{
        display: block;
        padding: 10px 0;
    }
    form input{
        width: 100%;
        height: 30px;
        margin: 10px 0;
        
    }
    .input-enviar{
        width: 70px;
        height: 30px;
    }
    form textarea{
        width: 100%;
        height: 300px;
        margin: 10px 0;        
    }
    





}
    















